<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Your Cart </h1>
  </div>
</div>

<div class="row">
  <div class="well clearfix">
    <div class="col-md-2">
      <img class="img-thumbnail pull-left" src="http://placehold.it/140x140" alt="">
    </div>
    <div class="col-md-8">
      <div class="row">
        <h3>Game Title <small>RPG</small></h3>
      </div>
      <div class="row">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium excepturi
          illum nesciunt obcaecati optio quasi quo quos repellendus. A accusantium ad amet cupiditate et
          obcaecati qui tempora, tenetur vel.</p>
      </div>
    </div>

    <div class="col-md-2">
      <p class="badge cart-price">$12.89</p>
    </div>

  </div>
</div>
