<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Your Cart
      <div ng-if="cart.cart.count !== 0" class="btn btn-success" ng-click="cart.closeCart()">
        Buy {{cart.cart.count}} items for ${{cart.cart.sum}}
      </div>
    </h1>

  </div>
</div>

<div class="row" ng-repeat="cartPosition in cart.cartPositions">
  <div class="col-md-12">
    <div class="well clearfix">
      <div class="col-md-2">
        <img class="img-thumbnail pull-left" src="http://placehold.it/140x140" alt="">
      </div>
      <div class="col-md-8">
        <div class="row">
          <h3>{{cartPosition.item.title}}
            <small>{{cartPosition.item.genre}}</small>
          </h3>
        </div>
        <div class="row">
          <p>{{cartPosition.item.description}}</p>
        </div>
      </div>
      <div class="col-md-2">
        <p class="badge cart-price">${{cartPosition.item.price}}</p>
      </div>
    </div>
  </div>
</div>
