<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Your Cart <div class="btn btn-success">Buy</div> </h1>

  </div>
</div>

<div class="row" ng-repeat="orderPosition in cart.cart">
  <div class="col-md-12">
    <div class="well clearfix">
      <div class="col-md-2">
        <img class="img-thumbnail pull-left" src="http://placehold.it/140x140" alt="">
      </div>
      <div class="col-md-8">
        <div class="row">
          <h3>{{orderPosition.item.title}} <small>{{orderPosition.item.genre}}</small></h3>
        </div>
        <div class="row">
          <p>{{orderPosition.item.description}}</p>
        </div>
      </div>
      <div class="col-md-2">
        <p class="badge cart-price">${{orderPosition.item.price}}</p>
      </div>
    </div>
  </div>
</div>
